* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.active {
  color: rgb(17, 61, 156);

  svg {
    color: rgb(17, 61, 156);
  }
}

h6 {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.54);
}