.minimal-layout {
  background: url('../assets/images/login-bg.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  .scrollable {
    overflow: auto;
    height: 100%;
  }
}